@{ 
    string[] name = new string[]
    {
        "In Search of Lost Time",
        "Ulysses",
        "Don Quixote",
        "One Hundred Years of Solitude",
        "The Great Gatsby",
        "Moby Dick"
    };
}


<style>
    .row {
        padding-top: 50px;
    }
    .zoom img {
        width: 100%;
        height: auto;
        transition: all .5s ease;
    }
    .card-body {
        background-color: yellow;
    }
    .card img{
        height:400px;
    }
    .card .card-body {
        text-align: center;
        border: 1px solid #500D16;
    }
    .card:hover .card-body {
        background: #500d16;
        color: #fff;
        transition: all .5 ease;
    }
    .zoom {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    .hreff {
        color: white;
    }
    .card:hover .zoom img {
        transform: scale(1.25);
    }
</style>

<form>
    <div class="form-group">
        <label>Kitablar</label>
        <select class="form-control">
            @foreach (var item in name)
            {
                <option>@item</option>
            }
        </select>
    </div>
</form>
<div class="container">
    <div class="row">
        @foreach (var item in ViewBag.Books)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem; margin-bottom:50px;">
                    <div class="zoom">
                        <img src="~/@item.Link" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                    </div>
                    <button type="button" class="btn btn-primary"><a href="https://thegreatestbooks.org/" class="hreff">Read More</a></button>
                </div>
            </div>
        }
    </div>
</div>  