<body>
    <form>
        <div class="form-group">
            <label for="Name">Name</label>
            <input class="form-control" style="background-color: #500D16FF; " placeholder="Enter Name" />
        </div>
        <div class="form-group">
            <label for="Name">Surname</label>
            <input class="form-control" placeholder="Enter Surname" style="background-color: #500D16FF; " />
        </div>
        <div class="form-group">
            <label for="Name">Email</label>
            <div class="input-group mt-3 ">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text" id="ig">gmail.com</span>
                </div>
                //
            </div>
        </div>
        <div class="form-group">
            <label>Cinsiniz</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cr1" name="example" class="custom-control-input ">
            <label class="custom-control-label" for="cr1">Kisi</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cr2" name="example" class="custom-control-input">
            <label class="custom-control-label" for="cr2">Qadin</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cr3" name="example" class="custom-control-input">
            <label class="custom-control-label" for="cr3">Bildirmek Isdemirem</label>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label for="Name">Telephone Number</label>
            <input class="form-control" placeholder="Enter Number" type="number" style="background-color: #500D16FF; " />
        </div>
        <div class="form-group">
            <label for="Name">Message</label>
            <textarea rows="6" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary text-center" type="reset">Submit</button>
    </form>
    <script src="https://kit.fontawesome.com/b5b75c0772.js" crossorigin="anonymous"></script>
</body>