@{
    ViewData["Title"] = "Home Page";
}


<style>

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
        background-color:black;
        color: #333;
        line-height: 1.6;
    }

</style>
<body>
<header>
    <div class="container">
        <div class="logo">
           <img style="width:100%; height:100%; background-position:center;background-size:cover;" src="~/img/About.jpeg" />
        </div>
    </div>
</header>
</body>